<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033732">Python Junior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SMMplanner</td> 
     <td class="salary">От 45 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033963">Junior embedded developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Comtek</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033689">Junior PHP Backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OBED-BUFET</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027699">Junior UI Designer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RENTMANIA</td> 
     <td class="salary">До 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033522">Junior Java программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Omni-a Digital Group</td> 
     <td class="salary">До 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033200">Junior/Middle frontend-разработчик (Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Neuromap</td> 
     <td class="salary">От 70 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031842">junior php developer (yii, backend)</a></td> 
     <td class="city"></td> 
     <td class="companyName">PrimeGate</td> 
     <td class="salary">От 30 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033578">Scrum-master / Junior Project Manager</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Quantify the World</td> 
     <td class="salary">От 30 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033735">.NET разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО "НПФ "Ратекс"</td> 
     <td class="salary">От 15 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027506">PHP developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Code Pilots</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032009">Senior PHP/MySQL Developer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033850">Php программист на Laravel</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WE SHIP 2 YOU</td> 
     <td class="salary">От 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033941">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033644">Senior iOS QA Engineer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032504">Технический директор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Shortdeck poker</td> 
     <td class="salary">От 350 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>